@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Reset de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: "Poppins", sans-serif;
}

/* Contenedor del formulario */
.form-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Estilos del encabezado */
.header-texto {
    background-color: #222724;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 4px 10px;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    margin-top: 0;
}

/* Contenedor del carrito y cuenta */
.account-cart-container {
    display: flex;
    align-items: flex-end;
    margin-left: 30px;
}

.account-cart-container p {
    margin-left: 100px;
}

/* Barra de navegación */
.nav-bar {
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding: 0;
    background-color: #020600;
    justify-content: space-evenly;
}

.nav-bar li {
    margin-right: 20px;
}

.nav-bar li a {
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    font-size: x-large;
}

.nav-bar li a:hover {
    color: #fafafa;
    text-decoration: underline;
}

img {
    width: 100%;
    height: auto;
}

/* Estilo para el botón del carrito */
.boton-carrito {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: lighter;
    border: 2px solid #111111;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #fff;
}

.boton-carrito:hover {
    background-color: #0a0a0a;
    color: #f7f7f7;
}

.boton-carrito i {
    margin-right: 10px;
}

/* Número de productos en el carrito */
.numero {
    background-color: #000000;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 0.9rem;
    margin-left: 10px;
}

/* Estilo para las tarjetas de productos */
.catalogo-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    grid-gap: 20px;
    padding: 20px;
}

.card-inicio {
    width: 220px;
    margin: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card-inicio img {
    width: 65%;
    margin: 15px 0;
}

.card-inicio h2 {
    font-size: 1.1rem;
    margin: 10px;
    margin-bottom: 25px;
    text-align: center;
}

.card-inicio p {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}

.card-inicio:hover {
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

/* Estilos para el botón de agregar al carrito */

.btn-agregar {
    background-color: #0d0e0d;
    color: white;
    border: none;
    padding: 10px 10px;
    margin: 10px 0;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-agregar:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Carrito desplegable */

.carrito-desplegable {
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
    overflow-y: auto; 
}

.carrito-desplegable.activo {
    right: 0;
}

.carrito-desplegable h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #111;
}


/* Productos dentro del carrito */
.producto-carrito {
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.producto-carrito p {
    margin: 0;
    font-size: 1rem;
    color: #333;
    text-align: center;
}
.cantidad {
    text-align: center; 
    margin-top: 5px; /* Añadir un pequeño margen superior */
}

.cantidad p {
    margin-bottom: 10px; 
}

.cantidad-buttons {
    display: flex;
    justify-content: center; 
    gap: 10px; 
}

.btn-incrementar, .btn-decrementar {
    background-color: #0d0e0d;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    text-align: center; /
    width: 40px;
    transition: background-color 0.3s ease;
}


.btn-incrementar:hover, .btn-decrementar:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Botón para seguir comprando */
.btn-seguir-comprando {
    background-color: #00060c;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}

.btn-seguir-comprando:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Botón para vaciar el carrito */
.btn-vaciar {
    background-color: #030303;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}

.btn-vaciar:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilo para el total del carrito */
.total-carrito {
    font-size: 1.25rem;
    font-weight: lighter;
    margin-top: 20px;
    text-align: right;
    color: #010101;
}

/* Botón para cerrar el carrito */
#cerrar-carrito {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}

#cerrar-carrito:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para el botón de comprar */
.btn-comprar {
    background-color: #0d0e0d; /* Mismo color oscuro que ya estás usando */
    color: white; /* Texto en blanco */
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    margin-top: 20px; /* Separación superior */
    transition: background-color 0.3s ease; /* Transición suave para hover */
}

/* Efecto hover para el botón "Comprar" */
.btn-comprar:hover {
    background-color: white; /* Cambiar a fondo blanco */
    color: black; /* Texto negro en hover */
    border: 2px solid black; /* Bordes negros */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Leve sombra */
}


/* Estilos personalizados para Toastify */


.toastify-custom {
    background-color: white !important; /* Fondo blanco */
    color: black !important; /* Letras negras */
    border: 2px solid black !important; /* Bordes negros */
    font-size: 1rem !important; /* Tamaño del texto */
    padding: 10px 20px !important; /* Espacio dentro del toast */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important; /* Sombra leve */
    text-align: center !important; /* Centrar el texto */
}


/* Estilos para el footer */
footer {
    background-color: #111; /* Fondo oscuro elegante */
    color: #fff; /* Texto en blanco para contraste */
    text-align: center; /* Centrar el texto */
    padding: 20px 0; /* Espaciado arriba y abajo */
    font-size: 0.9rem; /* Tamaño de fuente más pequeño para un estilo fino */
    letter-spacing: 1px; /* Espaciado entre letras para elegancia */
    border-top: 1px solid #444; /* Ligeramente delineado en la parte superior */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para elevar el footer */
    margin-top: 50px; /* Separación del resto de la página */
}

footer p {
    margin: 0; /* Sin márgenes adicionales */
    font-weight: 300; /* Peso de fuente ligero para un aspecto más elegante */
}

footer a {
    color: #ffffff; /* Color de enlaces */
    text-decoration: none; /* Quitar subrayado de los enlaces */
    font-weight: 400; /* Peso de fuente medio */
    transition: color 0.3s ease; /* Transición suave al pasar el mouse */
}

footer a:hover {
    color: #ccc; /* Cambia el color en hover para un toque más elegante */
}
